@model FoodStore.Models.DetailsViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Details</title>
</head>
<body>
    <h2>Details</h2>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vegetable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vegetable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageSource)
        </dt>
        <dd>
            <img src="@Url.Action("GetImage", "Home", new { id = Model.ID })" alt="@Model.Vegetable" />

            <!-- Html.DisplayFor(model => model.ImageSource) -->
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Energy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Energy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Saturates)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Saturates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carbohydrates)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Carbohydrates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sugars)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sugars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fibre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fibre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Protein)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Protein)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServingSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServingSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryOfOrigin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryOfOrigin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Storage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Storage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Packaging)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Packaging)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</body>
</html>
