@model FoodStore.Models.FoodModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GadgetModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vegetable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vegetable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serving size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serving size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country of origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country of origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Storage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Storage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Packaging)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Packaging)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
