@model FoodStore.Models.DetailsViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Details</title>

    <style>
        .label1 {
            font-size: 24px;
            color: black;
            font-family: Arial;
            font-weight: bold;
            display: block;
        }

        body {
            background-color: lightblue;
        }

        #label2 {
            font-size: 20px;
            color: cornflowerblue;
        }
    </style>

</head>
<body>
    <h2>Details</h2>
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2 label1">Vegetable</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vegetable)
        </dd>

        <dt>
            <label class="control-label col-md-2 label1">Image</label>
        </dt>
        <dd>
            <img src="@Url.Action("GetImage", "Home", new { id = Model.ID })" alt="@Model.Vegetable" />

            <!-- Html.DisplayFor(model => model.ImageSource) -->
        </dd>

        <dt>
            <label class="control-label col-md-2 label1">Energy</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Energy)
        </dd>

        <dt>
            <label class="control-label col-md-2 label1">Fat</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fat)
        </dd>

        <dt>
            <label class="control-label col-md-2 label1">Saturates</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Saturates)
        </dd>

        <dt>
            <label class="control-label col-md-2 label1">Carbohydrates</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Carbohydrates)
        </dd>

        <dt>
            <label class="control-label col-md-2 label1">Sugars</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sugars)
        </dd>

        <dt>
            <label class="control-label col-md-2 label1">Fibre</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fibre)
        </dd>

        <dt>
            <label class="control-label col-md-2 label1">Protein</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Protein)
        </dd>

        <dt>
            <label class="control-label col-md-2 label1">Salt</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salt)
        </dd>

        <dt>
            <label class="control-label col-md-2 label1">Size</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            <label class="control-label col-md-2 label1">Serving Size</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServingSize)
        </dd>

        <dt>
            <label class="control-label col-md-2 label1">Country Of Origin</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryOfOrigin)
        </dd>

        <dt>
            <label class="control-label col-md-2 label1">Storage</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Storage)
        </dd>

        <dt>
            <label class="control-label col-md-2 label1">Packaging</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Packaging)
        </dd>

        <dt>
            <label class="control-label col-md-2 label1">Stock</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            <label class="control-label col-md-2 label1">Category</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            <label class="control-label col-md-2 label1">Price</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</body>
</html>
