@{

    ViewBag.Title = "Index";

}

@model IEnumerable<FoodStore.Models.ImageModel>



<!DOCTYPE html>

<html>

<head>

    <title>Our Products</title>

    <style>

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }



        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }



        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <html>

    <head>

        <meta name="viewport" content="width=device-width" />

        <title>Test</title>



        <style>

            .label1 {
                font-size: 24px;
                color: chocolate;
                font-family: Arial;
                font-weight: bold;
                display: block;
            }



            #label2 {
                font-size: 20px;
                color: cornflowerblue;
            }
        </style>

    </head>

    <body>

        <h1>Images</h1>

        <div>







            <br />

            <br />

            <div class="container mt-3">

                <div class="d-flex flex-wrap bg-light">

                    @foreach (var im in Model)

                    {

                        <div class="p-2 border">

                            <div class="card" style="width: 18rem;">

                                <img src="@Url.Action("GetImage", "Home", new { id = im.ID })" alt="@im.vegetable" />

                                <div class="card-body">

                                    <h5 class="card-title">@Html.DisplayFor(m => im.vegetable)</h5>

                                    <p class="card-text">@Html.DisplayFor(m => im.Category), @Html.DisplayFor(m => im.Price)</p>

                                    <a href="#" class="btn btn-primary">Go somewhere</a>

                                </div>

                            </div>

                        </div>

                    }

                </div>

            </div>



            <br />

            <br />

            <br />



            @Html.ActionLink("Refresh this page", "../test")



        </div>

    </body>

</html>
